<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<head>
    <meta charset="UTF-8">
    <title>MovieComparer</title>
</head>
<body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ url_for('home.index') }}">MOVIE COMPARER</a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-left">
            <li><a href="{{ url_for('home.index') }}">HOME</a></li>
            <li><a href="{{ url_for('compare.index') }}">COMPARE</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
              <li><a href="{{ url_for('users.self') }}">USERNAME</a></li>
              <li><a href="{{ url_for('auth.login_get') }}">LOG IN</a></li>
              <li><a href="{{ url_for('auth.signup_get') }}">SIGN UP</a></li>
              <li><a href="{{ url_for('auth.logout') }}">LOG OUT</a></li>

          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">
              {{ message }}
          </div> 
        {% endfor %}
      {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}
    
</body>


</html>