<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<head>
    <meta charset="UTF-8">
    <title>MovieComparer</title>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <a class="navbar-brand" href="http://localhost:5000/home">MOVIE COMPARER</a>
          </div>
      
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
              <li><a href="http://localhost:5000/home">HOME</a></li>
              <li><a href="#">COMPARE</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="http://localhost:5000/user">USERNAME</a></li>
                <li><a href="http://localhost:5000/login">LOG IN</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    {% block content %}
    {% endblock %}
</body>


</html>