{% extends 'base.html' %}

{% block content %}
{% for movie in movies %}
<a href="{{url_for('movies.movie', id=5)}}">
<div style="width: auto; justify-items: center; align-items: center; ;">
    <div class="container" style="justify-content: center; margin: 10px; background-color: beige; border-width  : 1px; border-color: black; border-radius: 20px; border-style: solid;">
        <div class="card mb-3" style="max-width: 99vw;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{{'https://image.tmdb.org/t/p/original/' + movie['backdrop_path']}}" style="width: 25vw;" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{movie['original_title']}}</h5>
                        <p class="card-text">{{movie['overview']}}</p>
                        <p class="card-text"><small class="text-muted">{{movie['release_date']}}</small></p>
                        <button > FAVOURITE </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</a>

{% endfor %}

{% endblock %}