{% extends 'base.html' %}

{% block content %}
{% for movie in movies %}




<div style="width: auto;">
    <div class="container" style="justify-content: center; margin: 10px; background-color: beige; border-width  : 1px; border-color: black; border-radius: 20px; border-style: solid;">
        <div class="card mb-3" style="max-width: 70vw;">
            <div class="row no-gutters">
                <a href="{{url_for('movies.movie', id=movie.id)}}">
                    <div class="col-md-4">
                        <img src="{{'https://image.tmdb.org/t/p/original/' + movie['poster_path']}}" style="width: 15vw;" class="card-img" alt="...">
                    </div>
                </a>
                <div class="col-md-8">
                    <div class="card-body">
                        <a href="{{url_for('movies.movie', id=movie.id)}}">
                            <h1 class="card-title">{{movie['title']}}</h1>
                            <p class="card-text">{{movie['overview']}}</p>
                            <p class="card-text"><small class="text-muted">{{movie['release_date']}}</small></p>
                        </a>
                        {% if current_user.id %}
                        <button id="favourite{{movie.id}}" type="button" onclick="favourite(event)">temp</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




{% endfor %}

<script>
    console.log("AHHHHHHHHHHHHH HELP WHY IS THIS NOT WORKING")
    var myButtons = document.getElementsByTagName('button');
    var ids = []

    for (const movie in myButtons){
        id = myButtons[movie].id.replace('favourite','');
        ids.push(id);
        a = fetch(`http://localhost:5000/movie/${id}/favourite`)
            .then(function (response) {
                return response;
            })  
            .then(function (response) {
     
                if(response.url.slice(-2) == "no"){
                    myButtons[movie].innerHTML = "favourite";
                }
                else {
                    myButtons[movie].innerHTML = "unfavourite"
                }
            })
            .catch(function (error) {
                console.log("Error: " + error);
            });
        }
    function favourite(event) {
        console.log("CLICKED BUTTON")

        object = event.target;
        fetch(`http://localhost:5000/movie/${object.id.replace('favourite','')}`,
        {
            method: "POST"
        })

        if(object.innerHTML == "unfavourite") {
            object.innerHTML = 'favourite';
        }
        else {
            object.innerHTML = 'unfavourite';
        }
    }
</script>

{% endblock %}